#header,#footer,#ticket,#groupshop,#holiday{
	width: 1200px;
	margin: 0 auto;
	position: relative;
	overflow: hidden;
}

.clearFloat{
	zoom: 1;
}
.clearFloat :after{
	display: block;
	content: "";
	visibility: hidden;
	overflow: hidden;
	clear: both;
	height: 0;
}
.logo{
	width: 1300px;
	height: 140px;
	background: url(../images/logo_1.png) no-repeat;
	margin:0 auto;
}
.logo ul{
padding: 30px 0px 40px 520px;
}
.logo ul li{
	width: 60px;
	font: bold 30px "微软雅黑";
	padding: 16px ;
}
.logo ul li a:hover{
	color:wheat;
}






#footer{
	font: 20px "微软雅黑";
	line-height:60px ;
	margin:0 auto;
}

#footer ul li{
	width: 120px;
	margin-left: 145px;
}
#footer p{
	color: grey;
	text-align: center;
}